<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiscJockey </title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppB2C2.styles.css" asp-append-version="true" />
    <style> .navbar-nav .nav-link {
        color: white !important;
    }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="#" style="color: white">DiscJockey</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>   
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" 
                            asp-area=""
                            asp-controller="Home"
                            asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                            asp-area=""
                            asp-controller="MusicItems"
                            asp-action="AllItems">Items</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" 
                                asp-area="" 
                                asp-controller="AdminTags"
                                asp-action="Add">Add Tag</a>
                                <a class="dropdown-item"
                                asp-area=""
                                asp-controller="AdminTags"
                                asp-action="Details">View Details</a>
                                <a class="dropdown-item"
                                asp-area=""
                                asp-controller="AdminTags"
                                asp-action="AllTags">View All Tags</a>
                                <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="MusicItems"
                                   asp-action="AddItem">Add Items</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex" method="get" action="@Url.Action("Search", "MusicItems")">
                        <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AppB2C2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>