@model AppB2C2.Models.ViewModels.AddMusicItemRequest

<h1>Add Music Item</h1>

<form method="post" asp-action="AddItem" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ItemTitle">Title:</label>
        <input type="text" id="ItemTitle" name="ItemTitle" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ItemDescription">Description:</label>
        <input type="text" id="ItemDescription" name="ItemDescription" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Artist">Artist:</label>
        <input type="text" id="Artist" name="Artist" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ItemContent">Content:</label>
        <textarea id="ItemContent" name="ItemContent" class="form-control" required></textarea>
    </div>

    <div class="form-group">
        <label for="DateAdded">Date Added:</label>
        <input type="date" id="DateAdded" name="DateAdded" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ItemValue">Item Value:</label>
        <input type="number" id="ItemValue" name="ItemValue" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ImageFile">Image: </label>
        <input type="file" id="ImageFile" name="ImageFile"/>
    </div>

    <div class="form-group">
        <label for="TagIds">Select tag: </label>
        <select multiple class="form-control" id="TagIds" name="TagIds">
            @foreach (var tag in ViewBag.Tags)
            {
                <option value="@tag.Id">@tag.TagName</option>
            }
        </select>

        <div class="form-group">
            <label for="ItemType">Music Item Type:</label>
            <select id="ItemType" name="ItemType" class="form-control" required>
                <option value="CD">CD</option>
                <option value="LP">LP</option>
                <option value="Cassette">Cassette</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
