@model AppB2C2.Models.ViewModels.AddMusicItemRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add new tag - Admin functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div>

        </div>
    </form>
</div>
