@model List<AppB2C2.Models.Domain.ItemTag>
@using AppB2C2.Models.Domain

<h1>All Tags</h1>

<ul class="list-group">
    @foreach (var tag in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a asp-controller="AdminTags" asp-action="Details" asp-route-tagName="@tag.TagName">@tag.DisplayName</a>
            <a asp-controller="AdminTags" asp-action="Delete" asp-route-tagName="@tag.TagName" class="btn btn-danger">Delete</a>
        </li>
    }
</ul>
