@model AppB2C2.Models.ViewModels.TagDetailsViewModel

<h1>Tag Details</h1>

<div>
    <dl>
        <dt>Tag Name:</dt>
        <dd>@Model.TagName</dd>

        <dt>Display Name:</dt>
        <dd>@Model.DetailName</dd>

        <dt>Tag Price: </dt>
        <dd>@Model.TagPrice</dd>
    </dl>
</div>
